<h1>People#profile</h1>
<p>Find me in app/views/people/profile.html.erb</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <%= render 'shared/authentication_form' %>
<p />
<%= link_to 'New Logpost', new_logpost_path %>

<%= render 'shared/logpost_table', edit: true %>

<% end %>

