<link href="prism.css" rel="stylesheet" type="text/css" />
<script src="prism.js" type="text/javascript"></script>
<p id="notice"><%= notice %></p>

<p>
  <strong>User mail:</strong>
  <%= @logpost.user_mail %>
</p>

<p>
  <strong>Content:</strong>
  <pre><%= Decorator.decorate_post(@logpost.content).html_safe %></pre>
</p>

<p>
  <strong>Date:</strong>
  <%= @logpost.date %>
</p>

<p>
  <strong>Url: </strong>
  <label id='clipboard_text'><%= logpost_url(@logpost) %></label>
  <button data-clipboard-target='clipboard_text' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy To Clipboard...</b>
  </button>
</p>

<p>
  <%= link_to 'Download', download_download_log_path(@logpost, id: @logpost.id), target: "_blank" %>
</p>

<%= link_to 'Edit', edit_logpost_path() %> |
<%= link_to 'Back', request.referer.blank? ? main_page_path : request.referer %>