<h1>MainPage#index</h1>
<p>Find me in app/views/main_page/index.html.erb</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.email %></span>
  <p/>
  <%= link_to 'Профиль', controller: "people", action: "profile" %>
  <p/>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

<h1>Listing logposts</h1>

<table>
  <thead>
    <tr>
      <th>User mail</th>
      <th>Content</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @logposts %>
    <% @logposts.each do |logpost| %>
      <tr>
        <td><%= logpost.user_mail %></td>
        <td><%= logpost.content %></td>
        <td><%= logpost.date %></td>
        <td><%= link_to 'Show', logpost %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
